// Override bootstrap variables. Defaults located in ../node_modules/bootstrap/scss/_variables.scss

// Body font size
$font-size-root: 20px;

// Button size and padding
$input-btn-padding-y-sm:      0.157em;
$input-btn-padding-x-sm:      .5rem;
$input-btn-font-size-sm:      0.75rem;
